:root {
    --header-dark-bg: #383838;
    --header-dark-text: #f8f8f8;
    --header-light-bg: #f9f9f9;
    --header-light-text: #000000;
    --bootstrap-red: #d9534f;
    --bootstrap-green: #5cb85c;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

/* mobile medai queries */

@media only screen and (max-device-width: 500px) {
    .name  h1 {
        font-size: 3em;
    }
    .name  span {
        font-size: 12px;
    }
    .intro {
        font-size: 12px;
    }
    .dp {
        width: 80px;
    }

    .space > .workex > h2 {
        font-size: 1.9em;
    }

    .workex .media-object {
        width:50px;
    }
 
    .workex .media {
        padding: 5px;
        text-align: justify; 
    }

    .projects .media-heading {
        text-align: center;
    }

     .projects1 {
        display: none;
    }

}

@media only screen and (min-device-width: 700px) {
    
    #hr-1 {
        display: none;
    }

    .name  h1 {
        font-size: 80px;
    }
    .name  span {
        font-size: 16px;
    }
    .intro {
        font-size: 20px;
    }
    .dp {
        width: 150px;

    }

    .media-object {
        width:90px;
    }

    .workex .media {
        display: inline-block;
        width: 49%;
        padding: 10px; 
        vertical-align: text-top;
    }


    .projects1 .proj-box {
        display: inline-block;
        width: 22%;
        height: auto;
        text-align: center;
        margin: 5.4%;
        margin-top: 10px;
        margin-bottom: 0px;
        //border: 3px solid;
        //border-left: 3px solid;
        border-color: #898989;
        padding: 2%;
        vertical-align: text-top;
        //background: #fafafa;
        //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        font-family: "Helvetica","Century Gothic";
    }

    .card_img {
        //height: 25%;
        width: 100%;
        position: relative;

    }

    .card-heading {
        display: none;
        min-height: 90px;
        background-color: rgba(255,0,0,0.85);//#4CBF50;
        padding: 10px;
        //font-weight: bold;
        color: white;
        font-family: "Century Gothic";
        margin: 0;
        font-size: 1.2em;
    }

    .proj-box:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: whitesmoke;
        border: 0px;
    }

    .proj-box h4 {
        max-height: 150px;
    }

    .projects1 p {
        font-weight: bolder;
    }

    .projects1 h4 {
        padding-top: 2%;

    }
    .project-row {
        background: url(bg.png);
    }

    .project-container {
        position: relative;
        margin-bottom: 30px;
    }

    .projects1 .proj-body {
        display: none;
        position: fixed;
        background: rgba(240,240,240,0.4);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; 
        font-size: 20px;
        padding: 30px;
        border: 2px;
        border-color: black;
        z-index: 5;
        overflow: auto;
        width: 100%;
        padding: 15%;
        padding-top: 5%;
    }

    .projects {
        display: none;
    }



}


.projects1 p {
    font-weight: bold;
}

#close-box {
    display: none;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 10;
}

.media a {
    text-decoration: underline;
}


/*  Header */
.header {
    color: black;
    height: 100vh;
    padding-top: 5%;
    background: #43cea2;
    background: -webkit-linear-gradient(to left, #35c094 , #073570);
    background: linear-gradient(to left, #35c094 , #073570);

}

.dp {
    max-width: 200px;
}

.name {
    margin: 5%;
    text-align: center;
    animation: fadein 1s;
}

.name  h1 {
    font-family: 'Damion', cursive;
}

.name  span {
    font-family: "Century Gothic";
    word-spacing: 1px;
    letter-spacing: 10px;
}

.intro {
    text-align: center;
    vertical-align: center;
    padding: 10px;
    font-family: "Century Gothic";
    background-color: #282828;
    color: #f8f8f8;
    animation: fadein 2s;
}

.space {
    padding-top: 20px;
    animation: fadein 2s;

}
.space  h2 {
    font-size: 40px;
    text-align: center;
    font-family: "Century Gothic";
}

.media {
    text-align: justify;
}

.media-heading {
    font-weight: bold;
    font-family: "Century Gothic";
}

.media li:last-child {
    font-weight: 600;
    //font-style: italic;
    font-family: courier
}


.projects .media-heading {
    font-weight: bold;
}


.love {
    font-size: 1vmax;
    color: red;
    position: absolute;
    padding: 1px 1px 1px 1px;
    animation: blink 2.5s infinite;
}

.social  .btn {
    background-color: rgba(100,100,100,0.5);
    font-size: 20px;
}

/* Header Ends */

/* Content */
.content {
    font-family: courier;
    margin-top: 10px;
    text-align: center;
    animation: fadein 5s;
}

.botname {
    font-size: 20px;
}

#askMe {
    padding: 10px;
    margin-left: 2px;
}

#ouput {
    overflow: hidden;
    animation: type 10s;
}


/* Content Ends */

/* Animation Keyframes */

@keyframes blink {
    0% { opacity: 1.0;
        font-size: 16px;
        padding: 2px 1px 1px 1px;}
    50% { opacity: 1.0;
        font-size: 24px;
        padding: 0px 1px 0px 1px;}
    100% { opacity: 1.0;
        font-size: 16px;
        padding: 2px 1px 1px 1px;}
}


/* Animation Keyframes Ends */