:root {
    --header-dark-bg: #383838;
    --header-dark-text: #f8f8f8;
    --header-light-bg: #f9f9f9;
    --header-light-text: #000000;
    --bootstrap-red: #d9534f;
    --bootstrap-green: #5cb85c;
    /*background: #B24592; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #B24592 , #F15F79); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #B24592 , #F15F79); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/



    /*background: #43cea2; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #43cea2 , #185a9d); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}


/* mobile mdedai queries */

@media only screen and (max-device-width: 480px) {
    .name > h1 {
        font-size: 37px;
    }
    .name > span {
        font-size: 12px;
    }
    .intro {
        font-size: 12px;
    }
}

@media only screen and (min-device-width: 500px) {
    .name > h1 {
        font-size: 80px;
    }
    .name > span {
        font-size: 16px;
    }
    .intro {
        font-size: 20px;
    }
}


/*  Header */
.header {
    background-color: var(--header-light-bg);
    color: var(--header-light-text);
    background: #43cea2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.name {
    margin: 5%;
    text-align: center;
    animation: fadein 1s;
}

.name > h1 {
    font-family: 'Damion', cursive;
}

.name > span {
    font-family: "Century Gothic";

    word-spacing: 1px;
    letter-spacing: 10px;
}

.intro {
    text-align: center;
    vertical-align: center;
    padding: 2%;
    font-family: "Century Gothic";
    background-color: var(--header-dark-bg);
    color: var(--header-dark-text);
    animation: fadein 2s;
}


.space > .workex > h2 {
    text-align: center;
    font-family: "Century Gothic";
}

.media {
    //font-family: "Century Gothic";
    padding-bottom: 10px;
}
.media-heading {
    font-family: "Century Gothic";
    font-weight: 500;
}


.love {
    font-size: 1vmax;
    color: red;
    position: absolute;
    padding: 1px 1px 1px 1px;
    animation: blink 2.5s infinite;
}

/* Header Ends */

/* Content */
.content {
    font-family: courier;
    margin-top: 10px;
    text-align: center;
    animation: fadein 5s;
}

.botname {
    font-size: 20px;
}

#askMe {
    padding: 10px;
    margin-left: 2px;
}

#ouput {
    overflow: hidden;
    animation: type 10s;
}

.jumbotron {
    background-color: var(--bootstrap-red);
}
/* Content Ends */

/* Animation Keyframes */

@keyframes blink {
    0% { opacity: 1.0;
        font-size: 16px;
        padding: 2px 1px 1px 1px;}
    50% { opacity: 1.0;
        font-size: 24px;
        padding: 0px 1px 0px 1px;}
    100% { opacity: 1.0;
        font-size: 16px;
        padding: 2px 1px 1px 1px;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes type {
    from { width: 0%}
    to { width: 100%}
}
/* Animation Keyframes Ends */