:root {
    --header-bg: #383838;
    --header-text: #f8f8f8;
}

header {
    background-color: var(--header-bg);
    color: var(--header-text)
}

.name {
    margin-top: 10%;
    text-align: center;
    animation: fadein 1s;
}

.name > h1 {
    font-family: gothic;
    font-size: 60px;
}

.name > span {
    font-family: courier;
}

.intro {
    margin-top: 10%;
    text-align: center;
    animation: fadein 3s;
}

.instagram {
    padding-top: 10%;
    width: 100%;
    padding-bottom: 10%;
    animation: fadein 2s;
}

.love {
    position: absolute;
    padding: 1px;
    animation: blink 2.5s infinite;
}

@keyframes blink {
    0% { opacity: 1.0;
        font-size: 16px;}
    50% { opacity: 1.0;
        font-size: 22px;}
    100% { opacity: 1.0;
        font-size: 16px;}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}