<html>
<head>
	<title>Visualization 2</title>
	<script src="jquery-1.12.0.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8"> 
	<script type="text/javascript" src="bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist/css/bootstrap.css">
	<script type="text/javascript" src="./Chart.js"></script>
    <script type="text/javascript" src="./query.js"></script>
    <style type="text/css">
    body {
    	padding-top: 70px;
    }


    </style>
    
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-left">
      <div class="container">
        <ul class="nav navbar-nav">
        <li ><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="viz1.html">Visualization 1</a></li>
        <li class="active"><a href="viz2.html">Visualization 2</a></li>
        <li><a href="viz3.html">Visualization 3</a></li>
      </ul>
      </div>
    </nav>
	<div class="row">
	
		<div class="col-md-1"></div>

		<div class="col-md-10">
			<h1>How Queries Change Overtime?</h1>
			<br>
			
		</div>

		<div class="col-md-1"></div>	

	</div>

	<div class="row">
		<div class="col-md-1"></div>

		<div class="col-md-10">
			<canvas  id="part2_Chart" width="1300" height="600"></canvas> 
			<ul>
					<li><b>Strings - <span style="color:rgba(255,255,0,1);">Yellow</span>, Sorting - <span style="color:rgba(255,0,255,1);">Pink</span>, Arrays - <span style="color:rgba(0,0,255,1);">Blue</span>, Class - <span style="color:rgba(0,255,0,1);">Green</span>, Loops - <span style="color:rgba(255,0,0,1);">Red</span></b></li>
					
				</ul>
			<!-- <div id="legend3"></div> -->
		</div>

		<div class="col-md-1"></div>
	</div>

	<div class="row">
	
		<div class="col-md-1"></div>

		<div class="col-md-10">
			<h4>Following Things can be interpreted from the above Visualization:</h4>
			<ol>
				<li>The colors denote different topics to which a query is related. For example, Java "Class" related queries are plotted in Green color.</li>
				<li>The X-axis gives a count of total queries related to a topic and the Y-axis displays a Timeline.</li>
				<!-- <li>This graph demonstrates a Trend of how the users Queries change overtime.</li> -->
				
				<li><b>Pattern Findings:</b></li>
				<ol>
					<li>The Users Searched for Loops and Arrays related queries in the earlier part of the plotted timeline from 7-25-2015 to 7-29-2015. This gives us info that the users were learning how to use loops for various reasons one being to iterate through an array, which is one of the most basic things a student does when learning loops and arrays.</li>
					<li>There were more searches for Class &amp; Strings in the range 7-29-2015. So this gives us info that Shortly after the users learnt Loops and Arrays, the next topic they learnt was Strings &amp; Class.</li>
					<li>There is a good overlap of Sorting line and Arrays line in the graph which tells us that the users were looking for Sorting an array. The sudden increase in Sorting &amp; Arrays related queries, denotes the users learnt about Sorting 9-12-2015. Probably, when they were taught sorting in class.</li>
					<li>Thus such sort of a graph can be used to demonstrate a change in trend over a period of time in the search queries.</li>
				</ol>
			</ol>
		</div>

		<div class="col-md-1"></div>	

	</div>

</body>

<script>
	query_data.sort(function(a, b) {
		    return parseFloat(a.timestamp) - parseFloat(b.timestamp);
		});

	
	var timestamps = [];
	var label_date = "";
	var prev_label = "";
	

	var string_chart = {};
	var sort_chart = {};
	var array_chart = {};
	var class_chart = {};
	var loop_chart = {};

	var ld = "";

	for(var k =0; k<query_data.length; k++)
	{
		var d = new Date(query_data[k].timestamp);
		ld = d.getMonth() +"/" +d.getDate();// +"/" +d.getFullYear();

		string_chart[ld] = Number(0);
		sort_chart[ld] = Number(0);
		array_chart[ld] = Number(0);
		class_chart[ld] = Number(0);
		loop_chart[ld] = Number(0);
	}
	
	var label="";
	for(var x = 0 ;x < query_data.length; x++)
	{
		//document.write(query_data[x].query +"<br>");
		var q = query_data[x].query.toLowerCase();
    	var d = new Date(query_data[x].timestamp);
		var label = d.getMonth() +"/" +d.getDate();// +"/" +d.getFullYear();
		//document.write(label +" ");

		if(q.indexOf("string") > -1)
		{
			string_chart[label] += Number(1);
		}
		if(q.indexOf("sort") > -1)
		{
			//document.write("found");
			sort_chart[label] += Number(1);
		}
		if(q.indexOf("array") > -1)
		{
			//document.write("found");
			array_chart[label] += Number(1);
		}
		if(q.indexOf("class") > -1 || q.indexOf("instance") > -1)
        {
            class_chart[label] += Number(1);
        }
        if(q.indexOf("loop") > -1)
        {
            loop_chart[label] += Number(1);
        }

	}

	var xs;
	for(xs in string_chart)
	{
		timestamps.push(xs);
	}
	
	// document.write(timestamps);	


 //    document.write("<br>" +JSON.stringify(string_chart) +"<br>");
	// document.write("<br>" +JSON.stringify(sort_chart) +"<br>");
	// document.write("<br>" +JSON.stringify(array_chart) +"<br>");
	// document.write("<br>" +JSON.stringify(class_chart) +"<br>");
	// document.write("<br>" +JSON.stringify(loop_chart) +"<br>");

	var string_ch = [];
	var sort_ch = [];
	var array_ch = [];
	var class_ch = [];
	var loop_ch = [];

	for(var y =0; y < timestamps.length;y++)
	{
		string_ch.push(string_chart[timestamps[y]]);
		sort_ch.push(sort_chart[timestamps[y]]);
		array_ch.push(array_chart[timestamps[y]]);
		class_ch.push(class_chart[timestamps[y]]);
		loop_ch.push(loop_chart[timestamps[y]]);
	}

	var part2_data = {
    labels: timestamps,
    datasets: [
        {
            label: "Strings",
            fillColor: "rgba(255,255,0,0.2)",
            strokeColor: "rgba(255,255,0,1)",
            pointColor: "rgba(255,255,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(255,255,0,1)",
            data: string_ch
        },
        {
            label: "Sorting",
            fillColor: "rgba(255,0,255,0.2)",
            strokeColor: "rgba(255,0,255,1)",
            pointColor: "rgba(255,0,255,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(255,0,255,1)",
            data: sort_ch
        }
        ,
        {
            label: "Arrays",
            fillColor: "rgba(0,0,255,0.2)",
            strokeColor: "rgba(0,0,255,1)",
            pointColor: "rgba(0,0,255,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0,255,0,1)",
            data: array_ch
        }
        ,
        {
            label: "Class",
            fillColor: "rgba(0,255,0,0.2)",
            strokeColor: "rgba(0,255,0,1)",
            pointColor: "rgba(0,255,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: class_ch
        }
        ,
        {
            label: "Loops",
            fillColor: "rgba(255,0,0,0.2)",
            strokeColor: "rgba(255,0,0,1)",
            pointColor: "rgba(255,0,0,1)",	
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: loop_ch
        }
	    ]
	};


	var part2_context = document.getElementById('part2_Chart').getContext('2d');
	window.mypart2 = new Chart(part2_context).Line(part2_data, {scaleOverride: true,scaleSteps:15, scaleStepWidth:5, legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"}); //,multiTooltipTemplate: "<%=label%>:<%= value %>"});

	//var legend_int = mypart2.generateLegend();
	//$("#legend3").html(legend_int);
	//document.getElementById('legend3').innerHTML = mypart2.generateLegend();

	//document.write(JSON.stringify(array_chart));


</script>
</html>